@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

@font-face {
  font-family: VTCCarrie;
  src: url(./fonts/VTCCarrie-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: VTCCarrie;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
}

header > p {
  opacity: 60%;
  margin: 5px;
}

body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 240px;
  margin: 0;
  font-family: "Lora", "Times New Roman", Times, serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body > * {
  padding: 20px;
}

section {
  display: grid;
  align-content: end;
}

section a {
  width: 162px;
}

.black {
  background-color: #212529;
  color: white;
}

.grey {
  background-color: #6c757d;
  color: white;
}

.pale {
  background-color: #ced4da;
}

.white {
  background-color: white;
}

.bear:hover {
  background-image: url("https://thumbs.gfycat.com/RelievedClutteredCirriped-max-1mb.gif");
  color: white;
  background-size: cover;
  cursor: pointer;
}

.nineties:hover {
  background-image: url("https://media1.giphy.com/media/dwmNhd5H7YAz6/giphy.gif?cid=790b7611d2253afd8ccb90622288f96cc6f591128538dd9b&rid=giphy.gif&ct=g");
  color: white;
  background-size: cover;
  cursor: pointer;
}

.disappointment:hover {
  background-image: url("https://media3.giphy.com/media/nbNWgtnMgIYpUSy3e9/giphy.gif?cid=790b7611bb3ab6ac590b85b28b7095b076a3f1b0a5dca724&rid=giphy.gif&ct=g");
  color: white;
  background-size: cover;
  cursor: progress;
}

.website:hover {
  background-image: url("https://media1.giphy.com/media/3o6Ztp9sgPwz71EIne/giphy.gif?cid=ecf05e47hj00d5x3r3d5puyksgaf5f4tbxh48h03bwfbfcks&rid=giphy.gif&ct=g");
  color: white;
  background-size: cover;
  cursor: pointer;
}

.grain:hover {
  background-image: url("https://media4.giphy.com/media/l3977c5EIanrpRouk/giphy.gif?cid=ecf05e47lumrz1c3owmel8r4td5lfgopsb42pqhng6w8ir3f&rid=giphy.gif&ct=g");
  color: white;
  background-size: cover;
  cursor: pointer;
}

.force:hover {
  background-image: url("https://media2.giphy.com/media/dSflbwswnh7ID7JpmW/giphy.gif?cid=ecf05e47pkscvgudxrv5covu2hqca5mx1b3rrsr8cbfljwqf&rid=giphy.gif&ct=g");
  color: white;
  background-size: cover;
  cursor: pointer;
}

.hockney:hover {
  background-image: url("https://media0.giphy.com/media/pUuH8UZPepaF5wrwtZ/giphy.gif?cid=790b7611f03ca1015a852cada81285338675e67c65c8a403&rid=giphy.gif&ct=g");
  color: white;
  background-size: cover;
  cursor: pointer;
}

.web2:hover {
  background-image: url("https://media4.giphy.com/media/l41JKHQPZ3e6XXTJC/giphy.gif?cid=ecf05e47vpxkn2dvevh81w8puvyykwyxx95bm9qvl7zgikhx&rid=giphy.gif&ct=g");
  color: white;
  background-size: cover;
  cursor: pointer;
}

.edgeless:hover {
  background-image: url("https://media3.giphy.com/media/H4fpS4Xxa88jKyag0k/giphy.gif?cid=ecf05e47zbd3s54867kmmkngjgv81xob3qbf69d4dl8wnxoi&rid=giphy.gif&ct=g");
  color: white;
  background-size: cover;
  cursor: wait;
}

.tech:hover {
  background-image: url("https://media1.giphy.com/media/yMSQgudurAz42CwYm0/giphy.gif?cid=ecf05e47ohg0gfi2t95ckb1cw4orgm0fbpw0sxmquc309r5e&rid=giphy.gif&ct=g");
  color: white;
  background-size: cover;
  cursor: pointer;
}

.sad:hover {
  background-image: url("https://giphy.com/gifs/grandma-1uyFaGpt2ilmE/fullscreen");
  color: white;
  background-size: cover;
  cursor: pointer;
}

.convenience:hover {
  background-image: url("https://media0.giphy.com/media/z61f8iheeGlvq/giphy.gif?cid=ecf05e47be4q6bsabnnbio0n3gpthxy5r8gxeht1ag3amo22&rid=giphy.gif&ct=g");
  color: white;
  background-size: cover;
  cursor: pointer;
}

@media screen and (max-width: 1333px) {
  body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 999px) {
  body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 666px) {
  body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .empty {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (max-width: 767px) {
}
